<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Categories
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div *ngFor="let productCategory of productCategories">
      <a class="dropdown-item" routerLink="/category/{{ productCategory.id }}" routerLinkActive="active-link"
        >{{ productCategory.categoryName }}
      </a>
    </div>
  </div>
</li>
