<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>Check Out</h2>
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer Details -->
        <div formGroupName="customer">
          <h3>Customer Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">First Name:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Last Name:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Email ID:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress">
          <h3>Shipping Address Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Street:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">City:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Country:</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">State:</label>
            <div class="col-6">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Zipcode:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="zipCode"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!--Add check box to copy shipping address to billing address-->
        <div class="form-check">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            Billing Address same as Shipping Address
          </label>
        </div>
        <!-- Billing Address -->
        <div formGroupName="billingAddress">
          <h3>Billing Address Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Street:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">City:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Country:</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">State:</label>
            <div class="col-6">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Zipcode:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="zipCode"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard">
          <h3>Credit Card Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Card Type</label>
            <div class="col-6">
              <div>
                <select formControlName="cardType" class="form-control">
                  <option>VISA</option>
                  <option>MASTERCARD</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Name on Card:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="nameOnCard"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Card Number:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="cardNumber"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Security Code:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="securityCode"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Expiration Month:</label>
            <div class="col-6">
              <div>
                <select formControlName="expirationMonth" class="form-control">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Expiration Year</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="expirationYear"
                  class="form-control"
                  (change)="handleMonthsAndYears()"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
