<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>Check Out</h2>
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer Details -->
        <div formGroupName="customer">
          <h3>Customer Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">First Name:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                />
                <div
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="firstName.errors.required">
                    First Name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    First Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Last Name:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                />
                <div
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Last Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Email ID:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email is invalid</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress">
          <h3>Shipping Address Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Street:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressStreet.invalid &&
                    (shippingAddressStreet.dirty ||
                      shippingAddressStreet.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressStreet.errors.required">
                    Street Name is required
                  </div>
                  <div *ngIf="shippingAddressStreet.errors.minlength">
                    Steet Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">City:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressCity.invalid &&
                    (shippingAddressCity.dirty || shippingAddressCity.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCity.errors.required">
                    City Name is required
                  </div>
                  <div *ngIf="shippingAddressCity.errors.minlength">
                    City Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Country:</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressCountry.invalid &&
                    (shippingAddressCountry.dirty ||
                      shippingAddressCountry.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCountry.errors.required">
                    Country Name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">State:</label>
            <div class="col-6">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressState.invalid &&
                    (shippingAddressState.dirty || shippingAddressState.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressState.errors.required">
                    State Name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Zipcode:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="zipCode"
                  class="form-control"
                />
                <div
                  *ngIf="
                    shippingAddressZipCode.invalid &&
                    (shippingAddressZipCode.dirty ||
                      shippingAddressZipCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressZipCode.errors.required">
                    ZipCode is required
                  </div>
                  <div *ngIf="shippingAddressZipCode.errors.minlength">
                    ZipCode must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Add check box to copy shipping address to billing address-->
        <div class="form-check">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            Billing Address same as Shipping Address
          </label>
        </div>
        <!-- Billing Address -->
        <div formGroupName="billingAddress">
          <h3>Billing Address Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Street:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressStreet.invalid &&
                    (billingAddressStreet.dirty || billingAddressStreet.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressStreet.errors.required">
                    Street Name is required
                  </div>
                  <div *ngIf="billingAddressStreet.errors.minlength">
                    Steet Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">City:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressCity.invalid &&
                    (billingAddressCity.dirty || billingAddressCity.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCity.errors.required">
                    City Name is required
                  </div>
                  <div *ngIf="billingAddressCity.errors.minlength">
                    City Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Country:</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressCountry.invalid &&
                    (billingAddressCountry.dirty ||
                      billingAddressCountry.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCountry.errors.required">
                    Country Name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">State:</label>
            <div class="col-6">
              <div>
                <select formControlName="state" class="form-control">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState.invalid &&
                    (billingAddressState.dirty || billingAddressState.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressState.errors.required">
                    State Name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Zipcode:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="zipCode"
                  class="form-control"
                />
                <div
                  *ngIf="
                    billingAddressZipCode.invalid &&
                    (billingAddressZipCode.dirty ||
                      billingAddressZipCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressZipCode.errors.required">
                    ZipCode is required
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    ZipCode must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard">
          <h3>Credit Card Details</h3>
          <div class="form-group row">
            <label class="col-4 col-form-label">Card Type</label>
            <div class="col-6">
              <div>
                <select formControlName="cardType" class="form-control">
                  <option>VISA</option>
                  <option>MASTERCARD</option>
                </select>
                <div
                  *ngIf="
                    creditCardType.invalid &&
                    (creditCardType.dirty || creditCardType.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardType.errors.required">
                    Credit Card Type is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Name on Card:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="nameOnCard"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardNameOnCard.invalid &&
                    (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardNameOnCard.errors.required">
                    Name is required
                  </div>
                  <div *ngIf="creditCardNameOnCard.errors.minlength">
                    Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Card Number:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="cardNumber"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardNumber.invalid &&
                    (creditCardNumber.dirty || creditCardNumber.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardNumber.errors.required">
                    Credit Card number is required
                  </div>
                  <div *ngIf="creditCardNumber.errors.pattern">
                    Credit Card number must be 16 digits
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Security Code:</label>
            <div class="col-6">
              <div>
                <input
                  type="text"
                  formControlName="securityCode"
                  class="form-control"
                />
                <div
                  *ngIf="
                    creditCardSecurityCode.invalid &&
                    (creditCardSecurityCode.dirty ||
                      creditCardSecurityCode.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardSecurityCode.errors.required">
                    Security Code is required
                  </div>
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Security code must be 3 digts
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Expiration Month:</label>
            <div class="col-6">
              <div>
                <select formControlName="expirationMonth" class="form-control">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Expiration Year</label>
            <div class="col-6">
              <div>
                <select
                  formControlName="expirationYear"
                  class="form-control"
                  (change)="handleMonthsAndYears()"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- Order Details-->
        <div>
          <h2>Order Review</h2>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Total Price: {{ totalPrice | currency: "INR" }}</p>
        </div>
        <div>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
